.glavna{
  margin: 5%;
}
.task-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.task-table th,
.task-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.task-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.task-table tbody td {
  vertical-align: top;
}

.task-table .column {
  width: 33%;
}

.task-table .column-heading {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.task-table .task-row {
  background-color: #fff;
}

.task-table .task-row:nth-child(even) {
  background-color: #f9f9f9;
}


.navbar {
  background-color: #f0f0f0;
  padding: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.nav-links a:hover {
  color: #555;
}
